@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Poppins:wght@200;300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'ABeeZee', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 6rem;
    align-items: center;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    box-shadow: -0px 8px 16px -14px rgba(0, 0, 0, 0.169);
}

nav>ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    margin-left: 34rem;
    cursor: pointer;
}

nav>ul>li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav>button {
    font-style: italic;
    padding: 10px 25px;
    background-color: transparent;
    border: 2px solid #2F80ED;
    border-radius: 5px;
}

.next-batch-info {
    color: white;
    text-align: center;
    padding-block: 0.2rem;
    font-weight: lighter;
    font-style: italic;
    background-color: #2F80ED;
    margin-top: 4.7rem;
}

/* header */
header {
    padding: 3rem 6rem;
    display: flex;
    justify-content: space-between;
}

.header-right {
    box-shadow: 0px 25px 54px 0px rgba(16, 76, 255, 0.183);
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    width: 25vw;
    align-items: center;
    margin-top: 2rem;
}

.header-right>h3 {
    text-align: center;
    font-weight: lighter;
    font-style: italic;
    font-size: 1.6rem;
}

.header-right>h5,
.header-left>h5 {
    text-align: center;
    font-weight: 100;
    opacity: 0.7;
    margin-top: 0.7rem;
}

.header-left {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    width: 52%;
}

.header-left>h2 {
    font-size: 3.1rem;
    font-style: italic;
    font-weight: lighter;
}

.header-left>div {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid #E2E2E2;
    background: #FFF;
    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.08);
    padding: 10px;
    margin-top: 2rem;
}

.header-left>div>div {
    display: flex;
    width: 7rem;
}

.header-left>div>div>div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 4px;
}

.header-left>div>div>div>h5 {
    font-weight: 100;
    font-size: 0.5rem;
}

.header-left>h4 {
    border-radius: 23px;
    background: #FFF;
    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.12);
    width: max-content;
    margin-top: 9rem;
    padding: 0.3rem 1rem;
    font-weight: lighter;
}

.arrow {
    height: 5rem;
    position: absolute;
    top: 21.8rem;
    left: 46.5rem;
    z-index: -1;
}

.input-div {
    width: 100%;
    border-radius: 8px;
    background: #FAFAFA;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin-block: 1rem;
    padding: 0.5rem;
    gap: 1rem;
}

.name {
    margin-top: 2.4rem;
}

.input-div>input {
    border: none;
    background: none;
}

.header-right>button {
    width: 100%;
    padding-block: 0.9rem;
    font-style: italic;
    margin-block: 1rem;
    color: white;
    border: none;
    border-radius: 8px;
    background: var(--New, linear-gradient(277deg, #992FED 0%, #2F80ED 100%));
}

/* courses offered */

.courses-offered {
    margin-top: 8rem;
    background: #ECF8FF;
    height: 100vh;
    padding: 4rem 6rem;
}

.courses-offered>h4 {
    text-transform: uppercase;
    font-family: ABeeZee;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    text-align: center;
    color: #992FED;
}

.courses-offered>h1 {
    text-align: center;
    color: #2F80ED;
    text-align: center;
    font-family: ABeeZee;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 54px */
    letter-spacing: -0.54px;
}

.courses {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.beginner,
.intermediate {
    background-color: white;
    padding: 2.5rem 2rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 9px;
}
.beginner {
    border: 2px solid var(--primaryskyblue, #2F80ED);
}
.card-badge {
    position: relative;
    top: -3rem;
    background-color: #2F80ED;
    color: white;
    font-size: smaller;
    font-style: italic;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 4px 20px;
    border-radius: 7px;
    margin-bottom: -2rem;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.badges {
    display: flex;
    gap: 1rem;
}

.features {
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.231);
    margin-block: 0.4rem;
    padding-bottom: 0.5rem;
}

.features>div {
    width: 50%;
    min-width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.buttons {
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
}

.brochure {
    cursor: pointer;
    display: flex;
    width: 10rem;
    padding: 14px 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--primaryskyblue, #2F80ED);
    background: #FFF;
}

.learnmore {
    cursor: pointer;
    border-radius: 8px;
    background: var(--primaryskyblue, #2F80ED);
    display: flex;
    width: 10rem;
    padding: 14px 6px 14px 16px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    color: white;
}

.badges>h5 {
    color: #1D78B0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 7px;
    background: #E0F3FF;
    padding: 5px;
}

.intermediate-badge>h5 {
    border-radius: 7px;
    background: var(--subtle-orange, #FFEED8);
    color: #965400;
}

.desc {
    margin-block: 0.5rem;
    color: #565656;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.ta {
    text-align: center;
}

.hiring-partners>h5 {
    text-align: center;
    font-family: ABeeZee;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    background: var(--New, linear-gradient(277deg, #992FED 0%, #2F80ED 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hiring-partners>h2 {
    font-weight: lighter;
    font-style: italic;
}

.hiring-partners {
    display: flex;
    flex-direction: column;
    padding: 1rem 6rem;
    gap: 1rem;
    align-items: center;
}

.hiring-partners>button {
    cursor: pointer;
    border-radius: 8px;
    background: var(--primaryskyblue, #2F80ED);
    display: flex;
    width: 10rem;
    padding: 14px 6px 14px 16px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    color: white;
    border: none;
}

.reviews {
    padding: 3rem 6rem;
}

.review-div>img {
    padding: 0.4rem;
    box-shadow: 5px 9px 40px 0px rgba(0, 0, 0, 0.08);
}

.review-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    width: 100%;
}

.reviews>h2 {
    font-style: italic;
    font-weight: lighter;
}

.reviews>h6 {
    font-weight: lighter;
    opacity: 0.7;
}

.card {
    width:25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 24px;
    border-radius: 10px;
    border: 2px solid #D7D7D7;
    background: #FFF;
    box-shadow: 5px 9px 40px 0px rgba(0, 0, 0, 0.08);
}

.card-top {
    display: flex;
    gap: 1rem;
}

.card-top>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-icon {
    margin-left: 5rem;
    margin-bottom: 1rem;
}

.card-top>div>h4 {
    color: #000;
    font-family: ABeeZee;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
}

.card-top>div>h6 {
    color: #676767;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 602;
    line-height: 150%;
    min-width: 9rem;
}

.card-bottom {
    color: #676767;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

@media only screen and (max-width: 768px) {
    nav {
        padding: 1rem;
        background-color: white;
        z-index: 100;
    }

    nav>ul {
        display: none;
    }

    .next-batch-info {
        width: 100vw;
    }

    header {
        flex-direction: column;
        width: 100vw;
        padding: 1rem;
    }

    .header-left {
        width: 100%;
    }

    .header-left>h4 {
        margin-top: 2rem;
    }

    .header-right {
        width: 90vw;
    }

    .header-left>h2 {
        font-size: 2rem;
        text-align: center;
    }

    .hiring-partners {
        width: 100vw;
        margin-top: 2rem;
        padding: 0;
    }

    .hiring-partners>img {
        width: 100%;
    }

    .arrow {
        display: none;
    }

    .courses-offered {
        width: 100vw;
        padding: 0;
        height: max-content;
    }

    .courses {
        flex-direction: column;
    }

    .courses>div {
        width: 100%;
    }

    .header-left>div {
        flex-wrap: wrap;
        gap: 20px;
    }

    .reviews {
        padding: 1rem;
    }
}